{% extends 'QuickShop/basic.html' %}

{% block title%}AboutUs{% endblock %}
{% block body%}
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">DEALS 24*7</h1>
        <p>DEALS 24*7 is an Indian e-commerce company based in Bengaluru, India. It was founded by <b>Vibhuti Patial</b> in 2015. The company initially focused on book sales, before expanding into other product categories such as consumer electronics, fashion, home essentials & groceries, and lifestyle products.

The service competes primarily with Amazon's Indian subsidiary, and the domestic rival Snapdeal.[5][6] As of March 2019, DEALS 24*7 held a 39.5% market share of India's e-commerce industry.DEALS 24 *7 is significantly dominant in the sale of apparel (a position that was bolstered by its acquisitions of Myntra and Jabong.com), and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones.[8] Flipkart also owns PhonePe, a mobile payments service based on the Unified Payments Interface (UPI).

In August 2018, U.S.-based retail chain Walmart acquired a 77% controlling stake in DEALS 24*7 for US$16 billion, valuing it at $20 billion</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Latest Ongoing Online Shopping Offers at DEALS 24*7</h2>
        <p>Mens Winter Wear Store, Womens Fashion Offers, Mens Fashion Offers, Republic Day Sale, 99 Store, Imports Store, Bestsellers, Deals of the Day, Most Searched Products on Snapdeal, Snapdeal's Budget Store, Women EOSS Accessories, Men EOSS Sale, Pride of India Sale, Home Utility Offers, Laptop & Accessories Offers, Electronics Deals </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>


    </div>

    <hr>

  </div> <!-- /container -->

</main>






{% endblock %}